body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    background-image: linear-gradient(to right, #7444a8, #c72666, #34388a, #121212);
    background-size: 200% auto;
    animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.contenido {
    background-color: #d3e0ea; /* Azul claro */
    padding: 20px;
    margin: 10px;
    text-align: center;
}

h2 {
    color: #4a90e2; /* Azul brillante */
}

img {
    max-width: 100%;
    height: auto;
}